.navbar{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, grey, rgb(213, 213, 213)); 
    justify-content: center;
}

.navbar__brand{
    display: flex;
    left: 26em;
    align-items: center;
    padding: 1em;
}

.navbar__search{
    position: relative;
    left: 25em;
}

.navbar__input{
    width: 20vw;
    height: 4vh;
    border: none;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
}

.navbar__input--btn{
    height: 4.3vh;
    color: whitesmoke;
    background-color: #173f95e4;
    border: none;
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
}

.navbar__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
}

.btn{
    width: 10em;
    height: 2em;
    text-decoration: none;
    font-weight: 700;
    color: rgb(98, 98, 98);
    /* border: 1px solid  whitesmoke; */
    border-radius: 0.5em;
    margin-inline: .8em;
    padding-top: 6px;
}

.btn:hover{
    background-color: whitesmoke;
    color: rgb(51, 48, 48);
    transition: 1s;
}

.header__logo{
    position: relative;
    left: 22em;
    width: 7vw;
    margin: 1em;
    cursor: pointer;
}